<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/128/7485/7485752.png"
      type="image/x-icon"
    />
    <title>UnDraw | Board</title>
  </head>

  <body>
    <div class="hidden-content">
      <h1>Sorry, this website is only available for PC/Laptop users.</h1>
      <!-- You can customize the message for mobile/tablet users here -->
    </div>
    <div id="main" class="pc-only">
      <canvas width="800" height="500" id="canvas"></canvas>

      <div class="draw-area">
        <div class="controls">
          <button
            title="Drag (select element to drag)"
            id="drag"
            class="options"
          >
            <img
              src="https://thenounproject.com/api/private/icons/2709846/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button
            title="Erase (select element to erase)"
            id="eraser"
            class="options"
          >
            <img
              src="https://thenounproject.com/api/private/icons/5832432/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Pencil" id="pencil" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/5833346/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Add image" id="image" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/1559834/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Add shapes" id="shapes" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/256628/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Text" id="text" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/3715909/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Delete everything" id="delete" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/5835378/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Download" id="download" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/5830537/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>

          <button title="Save as JSON" id="save-board" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/5435866/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>

          <button title="Share Board" class="options" id="share">
            <img
              src="https://thenounproject.com/api/private/icons/5843055/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>

          <div id="shapes-options">
            <button title="Rectangle" id="rectangle" class="options">
              <img
                src="https://thenounproject.com/api/private/icons/5842862/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                alt=""
              />
            </button>
            <button title="Circle" id="circle" class="options">
              <img
                src="https://thenounproject.com/api/private/icons/1757384/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                alt=""
              />
            </button>
            <button title="Line" id="line" class="options">
              <img
                src="https://thenounproject.com/api/private/icons/2759142/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                alt=""
              />
            </button>
            <button title="Triangle" id="triangle" class="options">
              <img
                src="https://thenounproject.com/api/private/icons/1055895/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                alt=""
              />
            </button>
          </div>
        </div>

  
        <div class="undo-redo">
          <button title="Undo" id="undo" class="undo options">
            <img
              src="https://thenounproject.com/api/private/icons/1672221/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <button title="Redo" id="redo" class="redo options">
            <img
              src="https://thenounproject.com/api/private/icons/1672210/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>

        </div>

        <div class="color-container">
          <button id="fill" class="options">
            <img
              src="https://thenounproject.com/api/private/icons/1284047/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
              alt=""
            />
          </button>
          <!-- Color palette buttons -->
          <button class="color-button options" data-color="black">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
              ></path>
            </svg>
          </button>
          <button class="color-button options" data-color="red">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                fill="rgba(255,0,0,1)"
              ></path>
            </svg>
          </button>
          <button class="color-button options" data-color="blue">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                fill="rgba(0,0,255,1)"
              ></path>
            </svg>
          </button>

          <!-- Color selector -->
          <input
            type="color"
            class="options"
            id="color-selector"
            value="#000000"
          />
        </div>
        <div class="size-container">
          Brush Size
          <input
            type="range"
            id="size"
            min="1"
            max="10"
            value="1"
            step="1"
            oninput="updateSize()"
          />
        </div>


        <div class="upload-btn-wrapper">
          <button class="options btn">Import JSON</button>
          <input class="JSON-container" type="file" id="load-board" accept=".json">
          
        </div>


        <!-- Custom dialog box -->
<div id="custom-dialog" class="custom-dialog">
  <h4>Invite others to your board by sharing this unique ID!</h4>
  <textarea readonly id="dialog-text">Board ID</textarea>
  <div class="dialog-buttons">
    <button class="buttons" id="copy-btn">Copy</button>
    <button class="buttons" id="close-dialog-btn">Close</button>
  </div>

      </div>
    </div>
   
    <script src="../javascripts/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <script src="../javascripts/main.js"></script>
    <script>
      document
        .querySelector("#shapes")
        .addEventListener("mouseover", function () {
          document.querySelector("#shapes-options").style.display = "flex";
        });

      document
        .querySelector("#shapes")
        .addEventListener("mouseleave", function () {
          document.querySelector("#shapes-options").style.display = "none";
        });

      document
        .querySelector("#shapes-options")
        .addEventListener("mousemove", function () {
          document.querySelector("#shapes-options").style.display = "flex";
        });

      document
        .querySelector("#shapes-options")
        .addEventListener("mouseleave", function () {
          document.querySelector("#shapes-options").style.display = "none";
        });


      // Function to open the custom dialog box
function openDialog() {
  document.getElementById("custom-dialog").style.display = "block";
        const shareId = window.location.pathname.split("/").pop();
        document.querySelector('#dialog-text').textContent = shareId;

}

// Function to close the custom dialog box
function closeDialog() {
  document.getElementById("custom-dialog").style.display = "none";
}

// Function to copy the text in the dialog box
function copyText() {
  const dialogText = document.getElementById("dialog-text");
  dialogText.select();
  document.execCommand("copy");
  this.textContent = 'copied'
  
}

// Attach event listener to the button to open the dialog
document.getElementById("share").addEventListener("click", openDialog);

// Attach event listener to the copy button
document.getElementById("copy-btn").addEventListener("click", copyText);

// Attach event listener to the close button
document.getElementById("close-dialog-btn").addEventListener("click", closeDialog);



    </script>
  </body>
</html>
