@font-face {
  font-family: gilroy;
  src: url('../fonts/Gilroy-Regular.ttf');
}

* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 }
 
 
 html,body {
 height: 100%;
 width: 100%;
 background-color: #fcf0f0;
 font-family: gilroy !important;
 }
 
 *::-webkit-scrollbar{
   display: none;
 }
 
 #main{
   height: 100%;
   width: 100%;
 }
 
 #draw-area{
   position: absolute;
   
   
 }
 
 .controls{
   position: absolute;
   top: 5%;
   left:50%;
   transform: translate(-50%,-50%);
   background-color: #fff;
   display: flex;
   gap: .5vmax;
   border-radius: 5px;
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   padding: .5vmax 0;
   z-index: 100;
   position: fixed;
 
 }
 
 .options{
   background-color: transparent;
   border: none;
   outline: none;
   padding: .5vmax;
   cursor: pointer;
   
 
 }
  
 .size-container,.upload-btn-wrapper,.color-container,.undo-redo,.share-container,#shapes-options,.custom-dialog{
   position: absolute;
   top: 12%;
   left: 97%;
   transform: translate(-50%,-50%);
   margin-top: auto;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: .5vmax;
   border-radius: 5px;
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   padding: .5vmax 0;
   position: fixed;
 }
 
 
 .undo,.redo{
   background-color: transparent;
   border: none;
   outline: none;
   padding: .5vmax;
   
 
 }
 
 img{
   height: 2.5vw;
   width: 2.5vw;
   object-fit: cover;
   object-position: center;
 
 }
 
  img:hover{
   border-radius: 4px;
   box-shadow: 8px 9px 20px -3px rgba(0,0,0.2,0.1);
   background-color: rgb(202, 235, 248);
 
 }

 svg{
  height: 2.5vw;
  width: 2.5vw;
  object-fit: cover;
  object-position: center;

}

 svg:hover{
  border-radius: 4px;
  box-shadow: 8px 9px 20px -3px rgba(0,0,0.2,0.1);
  background-color: rgb(202, 235, 248);

}
 
 
 #shapes-options{
   left: 50% !important;
   top: 140%;
   flex-direction: row;
   display: none;  
 }
 
 .color-container{
  top: 50%;
  left: 2.5%;
 }

 
 .size-container{
  top: 5%;
  left: 6%;
  text-align: center;
  padding: .5vmax;
 }

 

 .upload-btn-wrapper {
  position: absolute;
  top: 5%;
  left: 85%;
  overflow: hidden;
  display: inline-block;
  cursor: pointer !important;
  padding: .5vw 1vw;
}

.btn {
  border: 1px solid #111;
  border-radius: 8px;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer !important;

}

.upload-btn-wrapper input[type=file] {
  font-size: 2vw;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
}


 input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 10px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #111;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #111;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #111;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #111;
}




/* Styles for the custom dialog box */
 .custom-dialog {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  width: 300px;
  user-select: none;
  text-align: center;


}

/* Styles for the dialog textarea */
#dialog-text {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  user-select: all;
  border: none !important;
  outline: none;
  text-align: center;
  margin-top: 1vw;
}

#close-dialog-btn{
background-color: rgb(208, 58, 58);
}

#copy-btn{
  background-color: rgb(69, 69, 248);
  margin-left: 1vw;
}


/* CSS */
.buttons ,.board-create,.join{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  color: #f7f7f7;
}

.buttons:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.buttons:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.buttons:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.buttons:focus {
  outline: 1px transparent;
}

.buttons:before {
  display: none;
}

.buttons:-webkit-details-marker {
  display: none;
}

.hidden-content {
  display: none;
  padding: 5vw;
  margin-top: 30vh;
  text-align: center;
}

.welcome{
  text-align: center;
  margin-top: 10vw;
}

.cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.board-create{
  background-color: rgb(86, 86, 231);
  text-decoration: none;
  margin-bottom: 2vw;
  width: 15vw;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.join{
  background-color: blueviolet;
}

.id-input{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  display: inline-block;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}